@font-face {
  font-family: "irancell";
  src: url("../fonts/irancell.ttf") format("truetype");
}
* {
  font-family: "irancell";
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(150, 58, 255);
  height: 100vh;
  margin: 0;
}
form {
  display: flex;
  background-color: white;
  flex-direction: column;
  border-radius: 7px;
  justify-content: center;
  box-shadow: 7px 7px 7px rgb(90, 1, 192);
  padding-right: 20px;
  padding-left: 20px;
}
.form-title {
  color: rgb(150, 58, 255);
  font-size: 38px;
  font-weight: bolder;
  display: flex;
  justify-content: center;
}
div input {
  width: 280px;
  height: 40px;
  padding-right: 17px;
  font-size: 17px;
  outline: none;
  border-radius: 7px;
  border: 1px solid rgb(175, 175, 175);
}
.submit-btn {
  border: none;
  background-color: rgb(150, 58, 255);
  color: white;
  font-size: 18px;
  width: 100%;
  border-radius: 7px;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-bottom: 20px;
  cursor: pointer;
  transition: 0.5s;
}
.submit-btn:hover {
  background-color: rgb(110, 33, 199);
}
.next-page-link {
  margin-top: -15px;
  margin-bottom: -10px;
}
.next-page-link p {
  margin: 0;
}

@media screen and (max-width: 900px) {
  .form-title {
    font-size: 34px;
  }
  div input {
    width: 260px;
    height: 38px;
    padding-right: 15px;
    font-size: 15px;
    margin-bottom: -5px;
  }
  .submit-btn {
    font-size: 16px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .next-page-link p {
    font-size: 15px;
    margin-top: 5px;
  }
}

@media screen and (max-width: 600px) {
  .form-title {
    font-size: 31px;
  }
  div input {
    width: 250px;
    height: 36px;
    padding-right: 12px;
    font-size: 14px;
    margin-bottom: -7px;
  }
  .submit-btn {
    font-size: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .next-page-link p {
    font-size: 14px;
    margin-top: 7px;
  }
}


@media screen and (max-width: 400px) {
  .form-title {
    font-size: 28px;
  }
  div input {
    width: 230px;
    height: 34px;
    padding-right: 12px;
    font-size: 13px;
  }
  .submit-btn {
    font-size: 14px;
    padding-top: 4px;
    padding-bottom: 4px;
  }
  .next-page-link p {
    font-size: 13px;
    margin-top: 7px;
  }
}


